.geocoder-el {
  position: absolute;
  top: 10px;
  left: 53px;
  background-color: white;
}
.geocoder-el input {
  margin-right: 4px;
  width: 250px;
}
.geocoder-invalid {
  background-color: red;
}
.geocoder-loading {
  background: url("loading-horizontal.gif") no-repeat 4px, 3px;
  background-size: 48px 13px;
  color: rgba(1, 1, 1, 0);
}
