@import "../all-ol-style";
@import "../media-control";


body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main-container {
  height: 100%;
}

.flex-container {
  display: flex;

  //> div {
  //  flex-grow: 1;
  //}
}

#map{
  flex-grow: 1;
}


#sidebar {
  height: 100%;
  width: 350px;
  flex-grow: initial;
  position: relative;
}

#logo-container {
    > div {
    flex-grow: 1;
  }

  div {
    margin: 7px;
    height: 150px;
  }

  div:first-child {
    background: url('img/glrtoc-logo.png') no-repeat center;
    background-size: contain;
  }

  div:nth-child(2) {
    background: url('img/tops-logo.png') no-repeat center;
    background-size: contain;
  }
}

#map {
  position: relative;
}

#tabs {
  height: 100%;
  padding: 0;
  border: none;
  width: 100%;


  > div {
    padding: 0;
    height: 98%;

    p {
      text-align: justify;
      padding: 7px 12px;
      margin: 10px 0;
    }

  }

  .ui-tab {
    padding: 3px 7px !important;
  }
}

#operations-tab {
  h3 {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  > div{
    padding: 0;
  }
}

#hide-sidebar, #show-sidebar {
  z-index: 5;
  position: absolute;
  color: white;
  cursor: pointer;
}

//hide sidebar span
#hide-sidebar {
  right: 4px;
  top: 9px;
}

#show-sidebar {
  display: none;
  left: -12px;
  top: 74px;
  background: linear-gradient(#74BBD8, #3FA3CA);
  width: 40px;
  text-align: right;
  padding: 10px 4px;
  border-radius: 5px;
  border: solid #4297D7 1px;
}

#operations > div {
  padding: 0;
}

#animation-control {
  text-align: center;
  padding: 10px;
}



